<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Angular 2 Webpack AddressBook App">
  <meta name="keywords" content="Angular 2,AOT">
  <meta name="author" content="Chandraprakash Sharma">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <link rel="stylesheet" href="assets/vendor/mdl/material.teal-red.min.css" />
  <link href="assets/vendor/mdl/material-icons.css" rel="stylesheet">
  <script src="assets/vendor/pubnub/pubnub.min.js"></script>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>
<body>
  <app>
    <center style="margin-top:25%;color:#696969;">
        <i class="material-icons">send</i>
        <h4>Loading...</h4>
    </center>
  </app>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</body>
</html>
